<!DOCTYPE html>
<html lang="en" class="authpage">
  <% include ../partials/header %>

  <body class="authpage">
    <div class="login-container">
      <div class="login-box drop-shadow">
        <% include ../partials/messages %>

        <h2 class="login-title">Register</h2>
        <form action="/api/register" method="post">
          <input name="email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="">
          <input name="password" type="text" class="form-control form-password" placeholder="Password" aria-label="Password" aria-describedby="">
          <div style="margin: 0; text-align: center;">
            <input href="#0" type="submit" class="btn login-button"> 
          </div>       
        </form>
        <div>
          <a href="login" style="font-size: 14px;">Already have an account? Login.</a>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="/constants"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var vm = function(data) {
        var self = this;

        self.errorMessages = ko.observable(data.messages.error || '');
        self.successMessages = ko.observable(data.messages.success || '');
        self.infoMessages = ko.observable(data.messages.info || '');
        self.warningMessages = ko.observable(data.messages.warning || '');

        return self;
      }

      // get data from model
      var viewModel = new vm(<%- JSON.stringify(data) %>);
      ko.applyBindings(viewModel);
    });
  </script>
</html>
