<!DOCTYPE html>
<html lang="en">
  <% include ../partials/header %>

  <body>
    <div class="login-container">
      <div class="login-box drop-shadow">
        <div class="alert alert-info" style="width: 100%;" data-bind="visible: message, text: message"></div>

        <h2 class="login-title">Register</h2>
        <div class="">
          <input data-bind="value: email, valueUpdate: 'afterkeydown'" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="">
          <input id="login-password" data-bind="value: password, valueUpdate: 'afterkeydown'" type="text" class="form-control form-password" placeholder="Password" aria-label="Password" aria-describedby="">
        </div>
        <a href="#0" class="btn login-button" data-bind="click: function() { register(); }">REGISTER</a>

        <div class="trademark">
            <p>Ian Burns 2017</p>
          </div>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="/constants"></script>

  <script type="text/javascript">

    var vm = function() {
      var self = this;

      self.email = ko.observable('');
      self.password = ko.observable('');

      self.message = ko.observable('');

      self.register = function() {
        $.ajax({
          type: "POST",
          url: "/api/register",
          xhrFields: { withCredentials: true },
          crossDomain: true,
          data: { email: self.email(), password: self.password()},
          success: function(result){
            window.location.href = "/me";
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(textStatus);
          }
        });
      }

      // button bindings
      document.getElementById('login-password').onkeydown = function(event) {
        if (event.keyCode == 13) {
            self.register();
        }
      }

      return self;
    }

    var viewModel = new vm();
    ko.applyBindings(viewModel);

    // check if there's a message to display
    $(document).ready(function() {
      var url = window.location.href;
      if (url) {
        // get message
        var paramsString = window.location.href.split("?")[1];
        var paramValues = paramsString.split("&");
        var params = new Array();
        paramValues.forEach(function (param) {
            var paramValue = param.split("=");
            params[paramValue[0]] = paramValue[1];
        });
        // show message
        if (params['message'] === "relog") {
          viewModel.message("Please log in again");
        }
      }
    });
  </script>

  </html>
